<!-- This is the home page --> <%- include('includes/header') %> <title><%= pageTitle %></title>
<link rel="stylesheet" href="../css/home.css" />
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>

<body>
  <header class="container main" style="position: sticky; top: 0;">
    <a href="#" class="main-link">RCOE Events</a>
    <div class="main-toggle">
      <a href="#">RCOE Events</a>
      <i class="fa fa-bars" id="main-toggle-icon-id" aria-hidden="true"></i>
    </div>
    <form action="#" class="main-form" id="main-form-id">
      <input type="text" class="main-form-text" name="searchEvent" id="searchEventId" placeholder="Search Event" />
      <button type="submit" class="main-form-button" name="searchButtonIcon">
        <i class="fa fa-search" aria-hidden="true" class="main-form-button-icon"></i>
      </button>
    </form>
    <nav class="main-navbar">
      <ul class="main-nav-list" id="main-nav-list-id">
        <li class="main-nav-item">
          <a href="/" class="main-nav-link">Home</a>
        </li>
        <li class="main-nav-item">
          <a href="/login" class="main-nav-link">LogIn</a>
        </li>
        <li class="main-nav-item">
          <a href="/signup" class="main-nav-link">SignUp</a>
        </li>
      </ul>
    </nav>
  </header>
  <section class="container section-wrapper"> <% for(let event of events) { %> <div class="section-card">
      <div class="section-card-image-wrapper">
        <img src="../public/images/2.png" class="section-card-image" alt="event cover image" />
      </div>
      <div class="section-card-content-wrapper">
        <div class="section-card-content-header"> <%= event.Name %> </div>
        <div class="section-card-content-description" style="max-height: 150px; min-height: 100px">
          <%= event.Description %> </div>
        <div class="section-card-content-date">Date: <%= event.date %></div>
        <div class="section-card-content-footer">
          <div class="section-card-content-price"><span><%= event.type %>: </span><%= event.fees %></div>
          <div class="section-card-content-apply">
            <a href="#" class="button">Details</a>
            <a href="#" class="button">Apply</a>
          </div>
        </div>
      </div>
    </div> <% } %> </section>
  <footer>
    <div class="footer-container"> Made with <div class="footer-heart">❤</div> by HarshBoricha </div>
  </footer>
  <script src="../js/index.js"></script> <%- include('includes/footer') %>